div {
    height:75px;
    width:75px;
    background-color:#FF0000;
    border-radius:5px;
    margin-bottom:5px;
}

#green {
    background-color:#008800;
}

.autre {
    background-color:#00ff00;
}
